* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
	width: 100vw;
	height: 100vh;
}

	.grid .gridCell {
		border: 1px solid #ccc;
		padding-top: 10px;
	}

		.grid .gridCell.col-2 {
			grid-column: span 2;
		}

		.grid .gridCell.col-3 {
			grid-column: span 3;
		}

.timeAndDate {
	margin-top: 24px;
	text-align: center;
}

	.timeAndDate .time {
		font-size: 3.5em;
	}

	.timeAndDate .date {
		font-size: 1.5em;
	}

.weather {
}

	.weather .current {
		margin-top: 20px;
		text-align: center;
	}

		.weather .current .temp {
			font-size: 3.8em;
		}

	.weather .forecast {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		margin-top: 15px;
	}

		.weather .forecast .day {
			text-align: center;
		}

		.weather .forecast .far,
		.weather .forecast .fas {
			margin: 8px 0;
		}

.news {
}

	.news ul {
		list-style-type: none;
		margin: 10px;
	}

	.news li {
		padding-bottom: 8px;
	}

	.news .meta {
		font-size: 0.9em;
		font-style: italic;
	}
