@model RssFeed

<div class="rss">
	<ul>
		@foreach (var item in Model.Items)
		{
			<li>
				<i class="fas fa-newspaper"></i>
				<span class="title">@item.Title</span>
				<span class="meta"> (@item.RelativeDate)</span>
			</li>
		}
	</ul>
</div>