@{
	ViewData["Title"] = "Home";
}

<div class="grid">
	<div class="gridCell partialContents" data-url="/services/timeanddate" data-refresh="1">
		Loading...
	</div>
	<div class="gridCell"></div>
	<div class="gridCell partialContents" data-url="/services/weather" data-refresh="60">
		Loading...
	</div>

	<div class="gridCell"></div>
	<div class="gridCell"></div>
	<div class="gridCell"></div>
	
	<div class="gridCell col-3 partialContents" data-url="/services/news" data-refresh="60">
		Loading...
	</div>	
</div>
