@{
	ViewData["Title"] = "Home";
}

	<div class="grid">
		@* Row 1 *@
		<div class="gridCell partialContents"
			 data-url="/services/timeanddate"
			 data-refresh="1s"></div>

		<div class="gridCell"></div>
		
		<div class="gridCell partialContents"
			 data-url="/services/weather"
			 data-refresh="15m"></div>

		@* Row 2 *@
		<div class="gridCell partialContents"
			 data-url="/services/calendar"
			 data-refresh="15m"></div>
		
		<div class="gridCell"></div>
		
		<div class="gridCell"></div>

		@* Row 3 *@
		<div class="gridCell bottom partialContents col-3"
			 data-url="/services/rss?src=https://www.theguardian.com/us/rss"
			 data-refresh="5m"></div>
	</div>
