@using MagicMirror.ViewModels 
@{
	ViewData["Title"] = "Home";
}

<div class="grid">
	@* Row 1 *@
	<div class="gridCell">
		<partial name="~/Views/Widgets/_TimeAndDate.cshtml" />
	</div>

	<div class="gridCell"></div>
		
	<div class="gridCell">
		<partial name="~/Views/Widgets/_Weather.cshtml" />
	</div>

	@* Row 2 *@
	<div class="gridCell">
		<partial name="~/Views/Widgets/_Calendar.cshtml" />
	</div>
		
	<div class="gridCell"></div>
		
	<div class="gridCell"></div>

	@* Row 3 *@
	<div class="gridCell bottom col-3">
		<partial name="~/Views/Widgets/_Rss.cshtml" 
				 model='new RssViewModel("https://www.theguardian.com/us/rss", "5m")' />
	</div>
</div>
